<%- include('./partials/navbar-student.ejs') %>
<title>Admission</title>
</head>
<body>
    <% if(admitted == true){ %>
        <h4 style="text-align: center;">Congratulations on your admission!</h4>
        <hr>
        <div class="profile" style="width: max-content; text-align: center; border-radius: 5%; background-color: rgb(192, 192, 192); margin: auto;">
            <table class="table table-info table-bordered">
                <thead><tr><h5>Your Profile</h5></tr></thead>
                <tr><th>Name:</th><td><%= profile.name %></td> </tr>
                <tr><th>Email:</th><td><%= profile.email %></td> </tr>
                <tr><th>Program:</th><td><%= profile.program %></td> </tr>
                <tr><th>Student ID:</th><td><%= profile.studentID %></td> </tr>
                <tr></tr>
            </table>
        </div>
    <% } else { %>
        <div class="admission m-auto p-2" style="width: min-content; background-color: darkseagreen;">
            <h5>Please fill-up the following form to get admitted:</h5>
            <form class="form-control" action="/admission" method="post">
                <label for="preferredSubject">Choose Your Preferred Subject:</label>
                <select class="form-select" name="preferredSubject" id="preferredSubject" style="width: fit-content;">
                    <option selected>Select One</option>
                    <option value="cse">Computer Science & Engineering</option>
                    <option value="eee">Electrical & ELectronic Engineering</option>
                    <option value="bba">Bachelor of Business Administration</option>
                </select>
                <button class="btn btn-success m-1" type="submit">Confirm & Get admitted</button>
            </form>
        </div>
    <% } %>

<%- include('./partials/footer.ejs') %>